  
        button{
            background-color: rgb(26, 181, 171);
            color: whitesmoke;
            float: right;
            font-size: 15px;
            margin-top: 10px;
            margin-right: 30px;
            padding: 10px 25px;
            border-radius: 10px;
        }
        button:hover{
            background-color:rgb(38, 61, 210) ;
            color :rgb(224, 213, 213);
        }
        ul{
           padding-left: 0px;
           padding-right: 00px;
           margin-left: 60px;
        }
        a{
            text-decoration: none;
            color: black;
            padding: 7px;
        }
        a:hover{
            background-color: rgb(76, 186, 234);
            color:whitesmoke;
        }
        li{
            display: inline-block;
          align-items: center;
          font-size: large;
          padding: 15px 35px;
        }
        
       div{
        float:left;
       }
        .div2{
           padding: 130px 20px;  
           background-color: beige;
        }
        .div1{
            background-color: beige;
        }
        img
        {
        width:763px; 
        height:813px; 
          
        }
            
        #h{
            font-size: 15px;
            background-color: rgb(104, 169, 206);
            width: fit-content;
            padding: 5px 5px;
            border-radius: 5px;
        }
        #b{
            float: left;
            background-color: rgb(245, 189, 104);
             color:black;
        }
        #b:hover{
            background-color:rgb(38, 61, 210) ;
            color :rgb(224, 213, 213);
        }
        #di1{
            width: 600px;
            padding:0px 40px;
            font-size: 50px;
            text-align: left;
        }
        #di2{
            text-align: left;
        }
        .td1{
            text-align: left;
            font-size: 25px;
            padding:0px 40px;
        }
        .td2{
            font-size: 25px;
            padding:0px 40px;
            margin-left: 100px;
        }
        span{
            color: rgb(26, 181, 171);
        }
        #div3{
            margin-left: 40px;
            width:750px;
        }
        #tab1{
            width: 700px;
            text-align: center;
            border-collapse: collapse;
            padding: 20px;
            font-size: 25px;
            box-shadow: 20px ;
            outline-color: gray;
        }
        .th1{
            text-align: left;
            padding: 20p;
            color: rgb(26, 181, 171)  ;
            border-collapse: collapse;
        }
        .t1{
            padding: 20px;
            border-collapse: collapse;
        }
        .div4{
            padding: 20px;
            box-shadow: 0 8px 16px 0 rgba(18, 81, 182, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            border-radius: 10px;
        }
        .div5{
            padding: 20px;
            box-shadow: 0 8px 16px 0 rgba(18, 81, 182, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            border-radius: 10px;
            margin-top: 70px;
        }
        #im{
            border-radius: 360px;
            width: 180px;
            height: 180px;
        }
        .div6{
            text-align: center;
            margin-left: 100px;
            width: 400px;
            padding: 10px 40px;
            box-shadow: 0 8px 16px 0 rgba(18, 81, 182, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            border-radius: 10px;
        }
        .div7{
           margin-left: 0px;
           width: 400px;
           padding: 10px 10px;
            box-shadow: 0 8px 16px 0 rgba(18, 81, 182, 0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            border-radius: 10px;
        }
        #u{
            margin-right: 80px;
            font-size: 20px ;
            width: 250px;
            background-color: black;
            color: rgb(245, 189, 104);
        }
        #u:hover{
            background-color:  rgb(200, 135, 39);
            color: white;
        }
        #div8{
            padding: 10px;
            background-color: rgba(236, 242, 245, 0.84);
            margin-top: 50px;
        }